{% extends '::base.html.twig' %}
{% block content %}
    <main class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    Erreur 500 !
                </h1>
                <p>
                    Bah bravo tu as tout cassé ! 
                    <a href=''{{path ('article_list')}} class="link-article"> cliques ici </a> pour retourner à la page d'accueil.
                </p>
            </div>
        </div>
    </main>                
{%endblock%}