<!DOCTYPE html>
<html>
    <head>
        {% stylesheets 'style/style.css' %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.5/cyborg/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}

        <meta charset="UTF-8" />
        <title>{% block title %}Fit & Fight{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% include (':includes:header.html.twig')%}
        {% block content %}{% endblock %}
        {% include (':includes:footer.html.twig')%}
        {% block javascripts %}{% endblock %}

    </body>
</html>
