/*Général début*/
#siteHeader{
    
    background: #d9d9bb;
    border-radius: 10%;
    max-height: 250px;
    margin-bottom: 1em;
}
#logo{
    max-width: 100px;
}

body{
    background: #f0f0e6;
}
main{
    background: #d1d1bf;
    max-width: 90%;
    min-height: 500px;
    border-radius: 5%;
    padding-bottom: 2em;
    
}

#siteFooter{
    
    background: #d9d9bb;
    border-radius: 10%;
    margin-top: 1em;
    margin-bottom: 1em;
    min-height: 100px;
    padding-top: 2em;
    padding-left: 2em;
    
}

h1>a{
    color: #ffffff;
    
}

#titleSite{
    text-decoration: none;
    color:white;
}

/*Général fin*/

/* Liste des articles */
.arlicle-list-item{
    max-height: 300px;
    overflow: hidden;
    margin-left: 1em;
    margin-right: 1em;
        
}
.link-article:hover{
      color: #ffffff;
      text-decoration: none;
}
.date-publication{
    font-size: 0.7em;
    float: right;
    text-align: right;
}