{% extends '::base.html.twig' %}

{% block content %}
    <main class="container">
        <div class="row">
            <div class="col-md-12">

                <div >    
                    <h3>
                        Publié le {{ article.date.format('d/m/Y') }}
                    </h3>
                    </a>
                    <p> 
                        {{ article.content }}
                    </p>
                </div>


            </div>
        </div>
    </main>                
{%endblock%}