{% extends '::base.html.twig' %}
{% block content %}
    <main class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Generation d'un bloc article pour chaque article dans la DB -->
                {%for article in articlesListe%}
                    <div class="arlicle-list-item">    
                        <a href="{{path ('article_show', {id: article.getId }) }}" class="link-article"><h2>
                                {{ article.titre }} <span class="date-publication">Publié le {{ article.date.format('d/m/Y') }}</span>
                            </h2>
                        </a>
                        <p> 
                            {{ article.content  }}                       
                        </p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>                
{%endblock%}