<footer id="siteFooter">
      <div class="row" >
       <div class="col-md-6 ">
         
           <p>© S. Travaux | Fit & Fight Test</p>
       </div>
       <div class="col-md-6">
           <p>Ouvert du lundi au vendredi de 8h à 21h <br>
          Le samedi de 10h à 20h <br>
          Le dimanche de de 14h à 20h
          </p>
       </div>
       </div>    
   </footer>
