<header class="container-fluid" id="siteHeader">
       <div class="row">
           <div class="col-md-4">
               <h1><a href="{{path ('article_list')}}"><img src="{{ asset('images/logo.png') }}" alt="Fit and fight" id="logo"><a href=""></a></a></h1>
           </div>
           <div class="col-md-8">
               <!-- affichera le titre de chaque article, seulement celui du site si on est sur l'index -->
               <h1 id="titleSite"><a class="link-article" href="{{path ('article_list')}}">Fit and Fight</a> {%if titlePage is defined %} - {{ article.titre }}{% endif %}</h1>
               
           
           
           </div>
       </div>
   </header>